;; -*- Mode: Lisp -*-   ;; Emacs mode line
;;
;; Example CLSQL test configuration file
;; Since this file is read by Lisp, it is okay to use
;; comments in this file
;; This file should be named .clsql-test.config and
;; placed in your home directory
 
((:sqlite3 ("D:/docums/code/eclipse/jasko.tim.lisp.libs/libs/clsql-4.0.3/examples/ex1")))
